.navbar {
    width: 100%;
    height: 80px;
    background-color: rgb(19, 19, 19);
    display: flex;
    justify-content: space-between; /* Distribute space between the left and right links */
    align-items: center;
}

.links.left {
    display: flex;
    align-items: center;
    margin-left: 20px; /* Adjust margin for left link */
}

.links.right {
    display: flex;
    align-items: center;
    margin-right: 20px; /* Adjust margin for right link */
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
.login{
    display: flex;
    align-items: center;
    margin-right: 50px;
  
    
    background-color: rgb(182, 238, 30);
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;

}
.header-auth-container {
    display: flex;
    flex-direction: column;
  }
  .header-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 100%;
    height: 70%;
    border: 10px;
  }
  .header-auth-options {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
  
  .button2 {
    width: 100px;
    padding: 10px;
    background-color: rgb(10, 204, 238);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }