/* navbar.css */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.links {
  display: flex;
  align-items: center;
}

.links a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-size: 28px; /* Increase the font size for links */
}

/* Adjust size of shop link */
.links a.shop {
  font-size: 28px; /* Increase the font size for shop link */
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.header-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
}

.header-auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header-auth-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header-auth-options button {
  margin: 0 10px;
  padding: 12px 20px; /* Increase button padding */
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 20px; /* Increase button font size */
}

.header-auth-options button:hover {
  background-color: #0056b3;
}

/* Add space between login button and cart icon */
.links .login {
  margin-right: 28px; /* Adjust margin as needed */
}

.button2 {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .links {
    display: none;
  }
}
.login {
  padding: 10px 20px; /* Add padding */
  border: none;
  border-radius: 5px; /* Add border radius */
  background-color: #007bff; /* Change background color */
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Add transition for smooth hover effect */
}

.login:hover {
  background-color: #0056b3; /* Change background color on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add box shadow on hover */
}